@font-face {
    font-family: 'Natron-Bold';
    src: url('./fonts/natron-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Natron-Rough-Bold';
    src: url('./fonts/natron-rough-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('./images/SD_logo.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Natron-Rough-Bold', sans-serif;
}

.layout {
    width: 100%;
    display: grid;
    grid-template-rows: 33%;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

div {
    text-align: center;
    font-family: 'Natron-Rough-Bold', sans-serif;
    font-size: 48px;
}
